<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for current_user %>
      <h1><%= current_user.name %></h1>
      <span><%= link_to "view my profile", current_user %></span>
      <span><b>Microposts:</b> <%= current_user.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), test_talk_path(user.id) %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
      <section>
        <%= render 'shared/talk_form' %>
      </section>
  </div>
</div>